table{
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
}
td{
    background-color: green;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.noPieceHere{
    background-color: lightgray;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.wall{
    background-color: darkgray;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}