table{
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
}
td{
    background-color: cyan;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
    padding: 0px;
}
button{
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
}
.noPieceHere{
    background-color: lightgray;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.wall{
    background-color: darkgray;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.princess{
    background-color: pink;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.mage{
    background-color: orange;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.rogue{
    background-color: maroon;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.prince{
    background-color: navy;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.knight{
    background-color: blue;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.king{
    background-color: gold;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.barbarian{
    background-color: yellow;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.evilKnight{
    background-color: red;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.vampire{
    background-color: purple;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.wolf{
    background-color: brown;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.spider{
    background-color: black;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.skeleton{
    background-color: white;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.zombie{
    background-color: green;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.dragon{
    background-color: darkgreen;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
.druid{
    background-color: tan;
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-color: black;
}
